@model IEnumerable<Cuenta>

@{
    ViewData["Title"] = "Cuentas";
}

<div class="card">
    <div class="card-header">
        Listado de cuentas
    </div>

    <div class="row">
        <div class="col-2">
            <div style="padding:20px;">
                <a asp-action="Crear" class="btn btn-primary mb-3">Nuevo</a>
            </div>
        </div>
    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="reordenable">

                @foreach (var cuenta in Model)
                {
                    <tr>
                        <td>@cuenta.Nombre</td>
                        <td>@cuenta.TipoCuenta</td>
                        <td>@cuenta.Balance</td>
                        <td>@cuenta.Descripcion</td>
                        <td>
                            <input type="hidden"/>
                            <a asp-action="Editar"  class="btn btn-warning">Editar</a>
                            <a asp-action="Eliminar"  class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


